<?xml version="1.0" encoding="utf-8"?>

<phpunit colors="true" bootstrap="vendor/autoload.php">
  <const name="PHP_BINARY" value="php"/>
  <testsuites>
    <testsuite name="php-platform/persistence">
      <directory suffix=".php">./tests</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
        <directory suffix=".php">./src/</directory>
    </whitelist>
  </filter>
</phpunit>
